<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EJBUsersServiceServiceSoapBinding" />
                <binding name="EJBApplicationsServiceServiceSoapBinding" />
                <binding name="EJBRattingsServiceServiceSoapBinding" />
                <binding name="EJBSeatsServiceServiceSoapBinding" />
                <binding name="EJBTripsServiceServiceSoapBinding" />
                <binding name="EJBLoginServiceServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8180/sdi3-204.EJB/ApplicationsService"
                binding="basicHttpBinding" bindingConfiguration="EJBApplicationsServiceServiceSoapBinding"
                contract="ApplicationsService.ApplicationsService" name="ApplicationsServicePort" />
            <endpoint address="http://localhost:8180/sdi3-204.EJB/UsersService"
                binding="basicHttpBinding" bindingConfiguration="EJBUsersServiceServiceSoapBinding"
                contract="UsersService.UsersService" name="UsersServicePort" />
            <endpoint address="http://localhost:8180/sdi3-204.EJB/RattingsService"
                binding="basicHttpBinding" bindingConfiguration="EJBRattingsServiceServiceSoapBinding"
                contract="RattingsService.RattingsService" name="RattingsServicePort" />
            <endpoint address="http://localhost:8180/sdi3-204.EJB/SeatsService"
                binding="basicHttpBinding" bindingConfiguration="EJBSeatsServiceServiceSoapBinding"
                contract="SeatsService.SeatsService" name="SeatsServicePort" />
            <endpoint address="http://localhost:8180/sdi3-204.EJB/TripsService"
                binding="basicHttpBinding" bindingConfiguration="EJBTripsServiceServiceSoapBinding"
                contract="TripsService.TripsService" name="TripsServicePort" />
            <endpoint address="http://localhost:8180/sdi3-204.EJB/LoginService"
                binding="basicHttpBinding" bindingConfiguration="EJBLoginServiceServiceSoapBinding"
                contract="LoginService.LoginService" name="LoginServicePort" />
        </client>
    </system.serviceModel>
</configuration>